html, body, #root {
  height: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.grid-days .day + .day:last-child {
    border-bottom: 1px solid transparent!important;
}